name: Build and deploy
on:
  push:
    tags: v[1-9]+.[0-9]+.[0-9]+
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Actions/checkout
        uses: actions/checkout@v3.0.0
      - name: Actions/setup-node
        uses: actions/setup-node@v2.5.1
      - name: NPM install
        uses: jaid/action-npm-install@v1.2.4
      - name: Create env file
        run: |
          touch .env
          echo LASTFM_APIKEY=${{ secrets.LASTFM_APIKEY }} >> .env
          echo LASTFM_SECRET=${{ secrets.LASTFM_SECRET }} >> .env
          echo FANART_APIKEY=${{ secrets.FANART_APIKEY }} >> .env
      - name: NPM build
        run: npm run build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: './dist'
          production-branch: main
          production-deploy: true
          deploy-message: 'Deploy from GitHub Actions'
          enable-pull-request-comment: false
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
