name: Build

on:
  push:
    branches: ['feature/*']
  pull_request:
    branches: ['main']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Actions/checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Actions/setup-node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: '24.x'
      - name: Install dependencies
        run: npm ci
      - name: Create env file
        run: |
          touch .env
          echo VITE_LASTFM_APIKEY=${{ secrets.LASTFM_APIKEY }} >> .env
          echo VITE_LASTFM_SECRET=${{ secrets.LASTFM_SECRET }} >> .env
          echo VITE_FANART_APIKEY=${{ secrets.FANART_APIKEY }} >> .env
      - name: NPM build
        run: npm run build --if-present
